:root {
    --primary: #EB1CCC;
    --secondary: #95989A;
    --text-color: #FFF;
    --text-secondary: #000;
    --text-tertiary: #5d5d5d;
}

* {
    font-family: 'Montserrat', sans-serif;
    margin: 0px;
    padding: 0px;
}

#key-benefits h2 {
    background-color: var(--secondary);
    text-align: center;
    padding: 2em;
    font-weight: 500px;
}

.benefits {
    display: inline-block;
    position: relative;
    flex-direction: row;
    justify-content: space-around;
    padding: 4em;
    width: 80%;
    margin: 0px auto;
}

.benefit {
    text-align: center;
    display: inline-block;
    position: relative;
    flex-direction: column;
    align-items: center;
    max-width: 20%;
    color:  var(--text-tertiary);
}

.benefit-img {
    width: 250px;
    height: 250px;
    border-radius: 50%;
    background-size: cover;
    background-position: center;
    margin-bottom: 1em;

}

#benefit-1 {
    background-image: url("../img/sqr-1.jpg");
}

#benefit-2 {
    background-image: url("../img/sqr-2.jpg");
}

#benefit-3 {
    background-image: url("../img/sqr-3.jpg");
}

@media (max-width: 450px) {

  .benefits {
    position: relative;
    flex-direction: column;
    align-items: center;
    width: auto;
    padding: 2em;
    }
  
  .benefit {
    max-width: 100%;
    margin-bottom: 2em;
    }
}